.left-placement {
  box-sizing: border-box;
}

.placement {
  width: 84%;
  float: right;
  height: 700px;
}

.left-placement {
  width: 15%;
  float: right;
  /* height: 400px; */
  /* min-height: 500px; */
  height: auto;
  background-color: white;
  margin-right: 1%;
}

.main {
  margin: 10px 0px;
}

.main::after {
  content: "";
  clear: both;
  display: table;
}
