section {
  width: 60%;
  float: right;
  height: auto;
}

.left {
  width: 40%;
  height: auto;
  margin-right: 1%;
}

.main {
  margin: 10px 0px;
}

.main::after {
  content: "";
  clear: both;
  display: table;
}
